.fiche-ran {
  width: 500px;
  align-items: center;
  justify-content: center;
}

.img-ran {
  width: 100%;
  height: 130px;
  object-fit: cover;
  mask-image: 
    linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%),
    linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: 
    linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%),
    linear-gradient(to bottom, transparent 0%, black 10%, black 60%, transparent 100%);
  -webkit-mask-composite: intersect;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.titre-ran {
  font-family: "Luxurious Script", cursive;
  font-size: 3em;
  position: absolute;
  margin-top: -20px;
  line-height: 1em;
  background: #B81254;
  background: radial-gradient(circle farthest-corner at center center, #B81254 5%, #5F5FB1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag-ran {
  letter-spacing: 1.5px;
  color: #c3b4d1;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  padding-bottom: 0.8em;
  padding-top: 1rem;
}

.text-ran {
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

.trait-ran {
  width: 350px;
  height: 3px;
  background: linear-gradient(to right, transparent, #4a2f62, #B81254);
  position: relative;
  left: 74px;
}
